/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.eot) format("opentype");
}


@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.svg) format("opentype");
}


@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.ttf) format("opentype");
}


@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.woff) format("opentype");
}

@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/fontawesome-webfont.woff2) format("opentype");
}


@font-face {
  font-family: fontawesome-webfont;
  src: url(assets/fonts/FontAwesome.otf) format("opentype");
}

